---
import Layout from '../layouts/Layout.astro';
import Quadrant from '../components/Quadrant.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Quadrant position="top left" />
    <Quadrant position="top right" />
    <Quadrant position="bottom left" />
    <Quadrant position="bottom right" />
  </main>
</Layout>

<script>
  document.addEventListener(
    'keydown',
    (e) => {
      if (e.keyCode === 13) {
        toggleFullScreen();
      }
    },
    false
  );

  function toggleFullScreen() {
    if (!document.fullscreenElement) {
      document.documentElement.requestFullscreen();
    } else if (document.exitFullscreen) {
      document.exitFullscreen();
    }
  }

  function randomIntFromInterval(min, max) {
    return Math.floor(Math.random() * (max - min + 1) + min);
  }

  function queueNext() {
    const quadrants = document.querySelectorAll('.quadrant');
    const newActive = quadrants[Math.floor(Math.random() * quadrants.length)];

    newActive.classList.add('active');

    setTimeout(() => {
      newActive.classList.remove('active');
    }, 1000);
  }

  alert(
    'Seizure warning: Page contains bright green sections flashing on a black background.'
  );
  setInterval(queueNext, randomIntFromInterval(1500, 3000));
</script>

<style>
  body {
    margin: 0;
  }

  main {
    background: black;
    height: 100vh;
    display: grid;
    grid-template:
      'tl tr' 1fr
      'bl br' 1fr
      / 1fr 1fr;
  }
</style>
