---
import { register } from 'swiper/element/bundle';
import Layout from '../layouts/Layout.astro';
import Quadrant from '../components/Quadrant.astro';

register();
---

<Layout title="Welcome to Astro.">
  <main id="app">
    <Quadrant position="top left">2</Quadrant>
    <Quadrant position="top right">1</Quadrant>
    <Quadrant position="bottom left">3</Quadrant>
    <Quadrant position="bottom right">4</Quadrant>
  </main>
</Layout>

<script>
  const actions = ['attack', 'defend'];

  function randomIntFromInterval(min, max) {
    return Math.floor(Math.random() * (max - min + 1) + min);
  }

  function queueNext() {
    if (
      document.querySelectorAll('.attack').length > 1 ||
      document.querySelectorAll('.defend').length > 1
    ) {
      return;
    }

    const quadrants = document.querySelectorAll('.quadrant');
    const newActive = quadrants[Math.floor(Math.random() * quadrants.length)];
    let action = actions[Math.floor(Math.random() * actions.length)];
    newActive.classList.add(action);

    setTimeout(() => {
      newActive.classList.remove(action);
    }, randomIntFromInterval(1000, 2000));
  }

  alert(
    'Seizure warning: Page contains bright green and red sections flashing on a black background.'
  );

  setInterval(queueNext, randomIntFromInterval(500, 3000));
</script>

<style>
  body {
    margin: 0;
    padding: 0;
  }

  main {
    background: black;
    height: 100vh;
    display: grid;
    grid-template:
      'tl tr' 1fr
      'bl br' 1fr
      / 1fr 1fr;
  }
</style>
