---
const { position } = Astro.props;
---

<section class="quadrant">
  <slot />
</section>

<style>
  section {
    color: white;
    display: grid;
    place-items: center;
    font-size: 8rem;
  }

  section.active {
    color: black;
  }

  section h2 {
    color: transparent;
  }

  .attack {
    background: lime;
  }

  .defend {
    background: red;
  }
</style>
